# Database Configuration
DB_NAME=nifya
DB_USER=nifya
DB_PASSWORD=your-password-here

# Server Configuration
PORT=3000
SERVICE_URL=your-cloud-run-url

# Google Cloud Configuration
GOOGLE_CLOUD_PROJECT=delta-entity-447812-p2
INSTANCE_CONNECTION_NAME=delta-entity-447812-p2:us-central1:nifya-db